.head{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,7,30,0.7),rgba(4,7,30,0.7)),url(https://upload.wikimedia.org/wikipedia/commons/8/85/TCS_SIPCOT_Building.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}